* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #081b29;
  color: #ededed;
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 10%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: rgb(255, 153, 0);
  width: 150px;
  height: 100px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(255, 153, 0);
}


.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home h1 {
  font-size: 50px;
}

.home h3 {
  font-size: 30px;
  color: rgb(255, 153, 0);
}

.home p {
  margin: 15px 0;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 153, 0);
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  color: rgb(255, 153, 0);
  transition: 0.3s;
}

.home-sci a:hover {
  background: rgb(255, 153, 0);
  color: #081b29;
  box-shadow: 0 0 15px rgb(255, 153, 0);
}

.btn-box {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(255, 153, 0);
  color: #081b29;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-box:hover {
  box-shadow: 0 0 20px rgb(255, 153, 0);
}

.img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(255, 153, 0);
}

.about {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 80px 10%;
}

.about img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(255, 153, 0);
}

.about-text h2 {
  font-size: 35px;
}

.about-text span {
  color: rgb(255, 153, 0);
}

.about-text p {
  margin-top: 10px;
}

.sub-title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.sub-title span {
  color: rgb(255, 153, 0);
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 50px 10%;
}

.bar {
  margin: 20px 0;
}

.progress-line {
  height: 5px;
  background: #333;
  border-radius: 10px;
}

.progress-line span {
  display: block;
  height: 100%;
  background: rgb(255, 153, 0);
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 80%;
}

.portfolio1 {
  padding: 70px;
  justify-content: center;
  align-items: center;
}

.portfolio-content {
  display:flex;
  gap: 20px;
}

.card {
  width: 370px;
  height: 200px;
  background: #112e42;
  border-radius: 15px;
  padding: 20px;
}

.f1{ 
  animation:float 3s infinite;
}

.f2{
  animation:float 3s infinite 1s;
}

.f3{
  animation:float 3s infinite 2s;
}

@keyframes float{
  0%,100%{transform:translateY(0);}
  50%{transform: translateY(-20px);}
}

.card img {
  width: 330px;
  border-radius: 10px;
  
}

.heading2 {
  margin: 10px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonials-item {
  width: 250px;
  background: #112e42;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.testimonials-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgb(255, 153, 0);
}

.testimonials-item img {
  width: 100px;
  border-radius: 50%;
}


.contact {
  padding: 50px 10%;
}

.input-box input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.btn {
  background: rgb(255, 153, 0);
  color: #081b29;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 15px rgb(255, 153, 0);
}

.html{
  justify-content: center;
  align-items: center;
  right: 500px;
}

.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(255, 153, 0);
}
.div{
  display: flex;
  gap: 120px;
  padding-top: 90px;
}

#toggle-them{
  display: none;
}


#toggle-them:checked ~ .them{
  background-color: darkcyan;
}

.them{
  transition: 0,3s;
}